

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

   opacity: 1;

}


.row {
  display: flex;
}

.box {
  width: 50px;
  height: 50px;
}

img{
  width:90%;
  height:90%;
}

.black {
  /* background-color: black; */ 
  background-color: #403220;
}

.white {
  /* background-color: ghostwhite; */
  background-color: #eab676;
  
}

.queen {
  background-color: gold;
  
}

h1 {
  color: coral;
}
.container{
  display: block;
  margin-top: 25px;
  margin-bottom: 50px;
  margin-left: 50px;
}
.container input{
  background-color: rgb(154, 188, 228);
  border-radius: 2px;
  border-width: 1px;
}

.container label{

  color: coral;
  margin-right: 10px;
  
}

.chessboard{
  margin-left: 75px;
  margin-bottom: 25px;
  margin-right:25px
}

@media(max-width:1800px){
  .box{
    width: 75px;
    height: 75px;
  }
}

@media(max-width:1024px){
  .box{
    width: 50px;
    height: 50px;
  }
}

@media(max-width:768px){
  .box{
    width: 50px;
    height: 50px;
  }
}

@media(max-width:568px){
  .box{
    width: 50px;
    height: 50px;
  }
  .chessboard{
    margin-left: 10%;
    width:80%;
  }
  h1{
    font-size: 24px;
  }
}

